.audio-player__player {
  display: flex;
  align-items: center;
  margin-right: 12px;
  font-size: 17px;
}

.audio-player__player:last-child {
  margin-right: 0px;
}

.audio-player__player-heading {
  font-weight: 800;
  margin-right: 2px;
}

.audio-player__player-btn {}

.audio-player__player-icon {
  height: 30px;
  margin-right: 12px;
}

.audio-player__player-phonetic {}
