.header {
  width: 100vw;
  position: relative;
  left: calc((100% - 100vw) / 2);
  background-color: #b4af9c;
  padding: 5px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 35px;
}
